html {
    height: 100%;
}
body.platform {
    background: url('../Images/bg.jpg');
    background-size: cover;
    background-position-y: bottom;
}
div.main {
    display: grid;
}
div.game-arena {
    height: 82px;
    overflow: hidden;
    position: fixed;
    bottom: 56px;
}
.justify-content-space-evenly{
    justify-content: space-evenly;
}
div.hero {
    background: url('../Images/Hero.png') -2px -12px;
    width: 56px;
    height: 81px;
}

div.hero-flip {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    background-position-x: -4px;
}

.main div.kick {
    background: url(../Images/Hero.png) -200px -217px;
    margin-top:-2px;
    width: 56px;
}

div.enemy {
    background: url(../Images/Hero.png) -11px -12px;
    width: 41px;
    height: 81px;
    filter: invert(1);
    display: inline-flex;
}
div.empty-enemy {
    background: none;
}

div.explode {
    background: url(../Images/explode.png);
    background-size: contain;
    background-repeat: no-repeat;
    filter: invert(0);
}
